* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
  width: 100vw;
}

.main-container {
  background-color: white;
  margin-bottom: 8px;
  padding: 20px;
}

header {
  padding-top: 10px;
  background-color: white;
}

.first_section {
  background: url(./Imgs/header-shapes\ background\ mobile.svg);
  border-radius: 0 0 0 100px;
  margin-bottom: 50px;
  background-color: #fff;
  height: 718px;
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a,
span {
  text-decoration: none;
  color: #6070ff;
  font-weight: bolder;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 24px 0 24px;
}

h2 {
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  font-weight: 700;
}

.headline {
  padding: 20px;
  margin: 24px 24px  24px 0;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 27px;
  color: #6070ff;
}

.headline h2 {
  font-size: 40px;
  line-height: 45px;
  margin: 80px 0 0;
  color: #172b4d;
  font-weight: bold;
}

p {
  font-size: 16px;
  margin-left: 5px;
  margin-top: 10px;
  color: #172b4d;
  line-height: 24px;
}

h5 {
  color: #6070ff;
  font-size: 18px;
  margin: 30px 10px -30px 5px;
  font-weight: 400;
}

.second_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 68px;
  margin-left: -10px;
}

.icons {
  margin-left: 8px;
}

li {
  margin: 40px 15px 10px;
  display: inline;
  font-size: 15px;
}

.skillsul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 327px;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.vframe li {
  display: inline;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.skillls i {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  display: flex;
  justify-self: start;
  flex-direction: row;
  list-style: none;
  width: 303px;
  max-width: 303px;
  min-height: 66.72px;
  margin: 12px;
  text-align: center;
  background: #f7f7f9;
  border-radius: 8px;
}

.About {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1180px;
  background-color: white;
  margin-bottom: 150px;
  padding-bottom: -18px;
  border-radius: 0 70px 0 0;
  margin-top: 50px;
}

.about-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vwpx;
  height: 409px;
  margin-left: 24px;
  margin-top: 114px;
}

h1 {
  order: -2;
  height: 101px;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.normaltxt {
  order: -1;
  height: 144px;
  width: 327px;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social {
  order: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  height: 80px;
}

.social-icons {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 40px;
  margin-top: 16px;
  margin-left: 5px;
  list-style: none;
}

h3 {
  order: 1;
  width: fit-content;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
}

.aboutbutton {
  order: 99;
  width: 162px;
  height: 48px;
  margin-top: 50px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  transition: 0.3s;
  background-color: white;
}

.ul-skills {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 327px;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.button:hover {
  opacity: 0.6;
}

.button:active {
  transform: translateY(4px);
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  margin-left: 24px;
  padding-top: 48px;
}

.framelist {
  width: 375px;
  background-color: white;
}

.listfram {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-bottom: 210px;
}

.listtag {
  display: flex;
  flex-direction: row;
  width: 327px;
  gap: 104px;
  margin-bottom: 10px;
  min-height: 72px;
  font-size: 500;
}

.listtag2 {
  display: flex;
  flex-direction: row;
  width: 327px;
  gap: 24px;
  margin-bottom: 10px;
  padding-left: 25px;
  min-height: 72px;
  font-size: 500;
  border-bottom: solid 1px #dfe1e6;
}

.listname {
  width: 273px;
  height: 24px;
  margin-right: 78px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-top: 16px;
}

.icon {
  display: inline-block;
  margin-right: 33px;
  border: none;
  background-color: #fff;
  margin-top: 4px;
}

.listimg {
  margin-left: 12px;
  margin-top: 9px;
}

.listtxt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  margin-left: 16px;
  margin-top: 21px;
}

.vector-button {
  border: none;
  background: none;
}

.vector-button :hover {
  transform: scale(1.3);
}

.vector-button:active {
  transform: translateY(4px);
}

footer {
  align-content: flex-start;
  background-image: url(./Imgs/Contact\ me.svg);
  background-repeat: no-repeat;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: -97px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#contact-btn {
  background: #fff;
  font-weight: 500;
  font-size: 20px;
  width: fit-content;
  margin-top: 20px;
  padding: 6px 13px;
  align-self: baseline;
}

.background-image {
  background-image: url(/Imgs/form-background-shapes-.svg);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;

  /* background-size: contain; */
  margin: 8%;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin-bottom: 12px;
  margin-top: 20%;
}

.contact-details {
  font-size: 20px;
  color: #ebebff;
  text-align: center;
  margin-bottom: 59px;
}

input {
  font-size: 17px;
  color: #172b4d;
  padding: 15px 16px;
  width: -webkit-fill-available;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

::placeholder {
  color: #b3bac5;
}

#message {
  border: 1px solid #cfd8dc;
  width: -webkit-fill-available;
  font-size: 17px;
  color: #172b4d;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 20px;
}

.Works1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  padding-left: 36px 35px 40px 0;
  gap: 3px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 35px;
}

.Work1-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 3px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 100px;
}

.w1-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: gray;
  margin-top: 4%;
  padding-bottom: 2%;
}

.w1-caption {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.w1-caption p {
  font-weight: 900px;
  font-size: 13px;
  line-height: 16px;
  margin-left: -1px;
}

.w1-dot p {
  color: #7a869a;
  font-size: 13px;
}

.w1-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  height: 76px;
  width: 295px;
  left: 0;
  top: 92px;
  margin-bottom: 12px;
  margin-top: 10px;
  font-size: 17px;
}

.w1-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #6070ff;
  background-color: white;
}

.btn1,
.btn2,
.btn3,
.btn4 {
  display: flex;
  color: aqua;
  margin-top: -32px;
}

.Works3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 3px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 80px;
  margin-left: -15px;
}

.work3-container {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 20px;
}

.w3-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: gray;
  margin-top: 4%;
  padding-bottom: 2%;
}

.w3-caption {
  display: flex;
  align-items: center;
  gap: 5px;
}

.w3-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #6070ff;
  background-color: white;
  margin-top: 71px;
}

.btn3 {
  display: flex;
  color: aqua;
}

.Works4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 3px;
  width: 327px;
  height: 603px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 100px;
  margin-left: -15px;
}

.multi2-container {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 20px;
}

.w4-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: gray;
  margin-top: 4%;
  padding-bottom: 2%;
}

.w4-caption {
  display: flex;
  align-items: center;
  gap: 5px;
}

.w4-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #6070ff;
  background-color: white;
}

.btn4 {
  display: flex;
  color: aqua;
}

.Works2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  padding-left: 15px;
  padding-top: 20px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 51px;
  margin-bottom: 7px;
  margin-top: 100px;
}

.Work2-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 3px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 100px;
}

.w2-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: gray;
  margin-top: 4%;
  padding-bottom: 2%;
}

.w2-caption {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.w1-button li {
  display: inline;
  font-size: 15px;
  padding-right: 9px;
  padding-top: 9px;
}

@media screen and (min-width: 600px) {
  body{
    width: 100vw;
  }
  .material-icons{
    display: none;
  }
  .topnav{
    margin-right: 50px;
    display: inline;
    
  }
  .topnav a{
    margin-right: 15px;
  }
  .first_section{
    width: 100vw;
    padding-left: 100px;
    border-bottom-left-radius: 0 ;
  }
  .headline p{
    width: 40vw;
  }

  .second_section{
    display: none;
  }

  #second-section-desktop{
    display: contents;
  }
  .page1, .page2, .page3{
    display: flex;
    gap: 10%;
    padding: 0 100px;
    height: 60vh;
    border: 2px solid blue;
    width: 80vw;
    margin: auto;
    border-radius: 10px;
  }
  .page2, .page3{
    margin-top: 50px;
  }
  .page2 #button, .page3 #button{
    border: 1px solid #6070FF;
    background: transparent;
    color: #6070FF
    margin-top: 20px;
    padding: 12px 24px;
  }
  .page2 .img-side img, .page3 .img-side img{
    margin-top: 60px ;
  }
  .text-side h2{
   margin-top: 50px;
  }
  .text-side ul{
    margin-top: 10px;
  }
  .text-side ul li{
    list-style: circle;
  }
  .first{
    font-weight: bold;
    margin-left: 0;
    font-size: 20px;
  }
  .text-side p{
    margin-top: 25px;
    width: 30vw;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .list2 li:first-child{
    margin-left: 0;
  }
  .list2{
    color: #6070FF;
  }
  .list2 li{
    background-color: #dee3f4;
    padding: 5px;
  }
  #button{
    background-color: #6070FF;
    border-radius: 3px;
    margin-top: 15px;
    font-size: 16px;
    color: white;
    padding: auto 18px;
  }