* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f7f7f9;
}

#container{
    width: 94%;
}

p {
  color: #344563;
  font-size: 15px;
}

#wrapper {
  height: 60vh;
  width: 100%;
  background-color: rgba(255, 255, 2255, 0.9);
  border-bottom-left-radius: 100px;
  position: relative;
}

#wrapper::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url(/assets/header-shapes\ mobile.png); 
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 65px;
}

/* Header Section */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 2255, 0.7);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #6070ff;
  width: 93%;
  margin: 0 auto;
}

.mobile-menu i {
  position: absolute;
  top: 5px;
  right: 64px;
  cursor: pointer;
}

.desktop-nav-hidden {
  display: block;
  width: 100%;
  height: 0;
  margin-left: 1%;
  overflow: hidden;
  padding-top: 40px;
}

.nav-icon li {
  padding: 10px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  margin-left: 10px;

}

.nav-icon li a {
  color: #fff;
  padding: 5px 0;
}

.openMenu {
  position: fixed;
  background: #6070ff;
  height: 100%;
  overflow: visible;
  width: 108%;
  margin-left: -4%;
}

.open {
  display: block;
  cursor: pointer;
}

.blur {
  background: #fff;
}

/* Headline Section */

#headline {
  margin-top: 8rem;
  padding-left: 1rem;
  top: 0;
}

#headline h1 {
  font-size: 24px;
  max-width: 10rem;
  color: #333231;
  z-index: 1;
  position: relative;
}

.lang p {
  padding-left: 12px;
}

#headline p {
  width: 90%;
  position: relative;
  z-index: 1;
}

#headline h4 {
  margin-top: 8px;
  color: #6070ff;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.headline-icons {
  display: flex;
  margin-top: 15px;
  position: relative;
  z-index: 1;
}

.headline-icons li {
  list-style: none;
  margin-right: 10px;
}

/* Works */
#cards {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.card {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgb(226, 221, 221);
  height: 90%;
  width: 100%;
  color: #344563;
  margin-bottom: 10vh;
}

.container h2 {
  width: 50%;
}

.card-list-one {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 30vh;
  font-size: 15px;
}

.card-list-two {
  margin-top: 5px;
  display: flex;
  gap: 30px;
  width: 20vh;
}

.card-list-two li {
  list-style: none;
  color: #6070ff;
  background: #ebebff;
  text-align: center;
  border-radius: 8px;
  padding: 4px 10px;
  margin-right: 2px;
}

.card-list-one li:first-child {
  list-style: none;
  font-weight: bold;
  margin-left: 0;
}

.card-button {
  margin-top: 3rem;
  border: 1px solid #396df2;
  border-radius: 5px;
  color: #396df2;
  padding: 10px 12px;
  width: 8rem;
  text-align: center;
}

.card-button:hover {
  background: #396df2;
  color: #ebebff;
}

/* About-Yourself Section */
#about-section {
  margin-top: 2rem 0;
  height: 120vh;
  background: white;
  border-top-right-radius: 70px;
  width: 100%;
  padding: 30px;
}

#about-section h1 {
  font-size: 24px;
  max-width: 8rem;
  color: #333231;
}

#about-section h4 {
  margin-top: 8px;
  color: #6070ff;
  font-weight: 500;
}

.about-button {
  margin-top: 3rem;
  border: 1px solid #396df2;
  border-radius: 5px;
  color: #396df2;
  padding: 10px 12px;
  width: 10rem;
  text-align: center;
  background: transparent;
}

h5 {
  margin-right: 36px;
}

.lang-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-weight: bold;
}

.lang-frameworks,
.lang-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: 40px;
  border-bottom: 1px solid rgb(225, 223, 223);
  font-weight: bold;
}

.lang-frameworks caption {
  align-self: center;
}

.lang-img {
  border-radius: 50%;
  margin: 10px;
}

.lang {
  background: #f0f0f1;
  display: flex;
  align-items: center;
  width: 95%;
  margin-top: 20px;
  padding: 12px auto;
  border-radius: 8px;
}

/* Footer section */
#footer {
  margin-top: 100px;
  text-align: center;
  background-color: #6070FF;
  position: relative;
  width: 100%;
  border-top-left-radius: 65px;
}

#footer::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url(/assets/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 85px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  border-top-left-radius: 75px;
  padding-top: 30px;
}

.footer h2 {
  z-index: 1;
  color: whitesmoke;
}

input {
  border-radius: 3px;
  height: 30px;
}

textarea {
  border-radius: 5px;
}

input,
textarea {
  width: 70%;
  margin-top: 15px;
  border: none;
  background: white;
  position: relative;
  z-index: 1;
}

.footer .form-btn {
  float: left;
  margin-bottom: 20px;
  margin-top: 1.5rem;
  margin-left: 56px;
  border: 1px solid #396df2;
  border-radius: 5px;
  color: #396df2;
  padding: 10px 12px;
  width: 8rem;
  text-align: center;
  background: white;
  z-index: 1;
  position: relative;
}

::placeholder {
  padding-left: 10px;
  color: #ababab;
}

#cards-desktop {
  display: none;
}

#header-desktop {
  display: none;
}

.lang-lang-desktop {
  display: none;
}

/* Desktop */
@media screen and (min-width: 600px) {
   #wrapper {
    width: 100%;
    height: 300vh;
    border-bottom-left-radius: 100px;
    position: relative; 
    background-image: url(/assets/wrapper-background/Header\ bg.svg); 
    background-repeat: no-repeat;
  } 

   #wrapper::after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.9);
     animation: 5s infinite alternate anima;
  } 

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 85%;
    margin: 5px auto;
  }

  .desktop-nav-hidden {
    width: 30%;
    height: 40px;
  }

  .nav-icon li {
    display: inline-block;
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
  }

  .nav-icon li a {
    color: #344563;
  }

  .mobile-menu i {
    display: none;
  }

  #closeHam {
    display: none;
  }

  #headline {
    margin: 100px;
    height: 100vh;
    margin-left: 150px;
  }

  #headline h1 {
    font-size: 32px;
    max-width: 50rem;
    color: #333231;
  }

  .container p {
    width: 95%;
  }

  .footer p {
    width: 80%;
    margin: auto 30px;
    color: whitesmoke;
    z-index: 1;
  }

  #headline p {
    width: 65%;
    margin-top: 12px;
  }

  #headline h4 {
    width: 65%;
    margin-top: 16px;
  }

  #header {
    display: none;
  }

  #header-desktop {
    display: flex;
    padding-top: 30px;
  }

  #header-desktop ul {
    display: flex;
  }

  .card-list-one li {
    margin-right: 10px;
    color: #7e7d7c;
  }

  .languages li {
    list-style: none;
  }

  .card-list-one li:first-child {
    color: #252524;
  }

  #header-desktop ul li {
    list-style: none;
    margin-right: 15px;
  }

  #header-desktop ul li a {
    color: #6070ff;
    text-decoration: none;
  }

  /* work section */
  #cards {
    display: none;
  }

  #cards-desktop {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 300px;
    padding-left: 200px;
  }

  .card {
    display: flex;
    gap: 10%;
    background: white;
    padding-left: 30px;
    width: 80%;
  }

  .card:hover {
    border: 1px solid #6070ff;
  }

  .card-list-one {
    width: 60%;
  }

  /* About Myself */
  #about-section {
    height: 120vh;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10%;
    padding: 100px;
    width: 90%;
    padding-left: 200px;
  }

  .lang-lang {
    display: none;
  }

  .lang-lang-desktop {
    display: flex;
    gap: 10px;
    width: 50%;
  }

  .lang {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(98, 48, 236, 0.9);
    position: relative;
    width: 100%;
    border-top-left-radius: 100px;
    padding: 0 600px;
  }

  #footer::after {
    position: absolute;
    content: " ";
    width: 100vh;
    height: 100%;
    z-index: 0;
    background-image: url(/assets/wrapper-background/Header\ bg@2x.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 65px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .footer div {
    text-align: center;
  }

  .footer h2 {
    z-index: 1;
    color: whitesmoke;
  }

  input {
    border-radius: 3px;
    height: 30px;
  }

  textarea {
    border-radius: 5px;
  }

  input,
  textarea {
    width: 60vh;
    margin-top: 15px;
    border: none;
    background: white;
    z-index: 1;
  }

  .form-btn {
    margin-bottom: 20px;
    margin-top: 1.5rem;
    border: 1px solid #396df2;
    border-radius: 5px;
    color: #396df2;
    padding: 10px 12px;
    width: 8rem;
    background: white;
    z-index: 1;
  }

  ::placeholder {
    padding-left: 10px;
    color: #ababab;
  }
  nav button{
    display:none;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
}

nav button#close-menu-btn{
    display: none;
}






}

/* @keyframes anima {
  from {
    margin-left: 100%;
    width: 300%;
    color: #6070ff;
  }

  to {
    margin-left: 0%;
    width: 100%;
    font-weight: bold;
  }
} */
