* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f7f7f9;
}

/* #container{
  width: 94%;
} */

p {
  color: #344563;
  font-size: 15px;
}

#header-desktop {
  display: none;
}

#wrapper {
  height: 60vh;
  width: 100%;
  background-color: rgba(255, 255, 2255, 0.9);
  border-bottom-left-radius: 100px;
  position: relative;
}

#wrapper::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url(./assets/header-shapes\ mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 65px;
}

/* Header Section */
#header {
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  color: #6070ff;
  width: 80%;
  background: rgba(255, 255, 2255, 0.7);
  z-index: 1;
  position: relative;
  text-align: center;
}

/* Headline Section */
#headline {
  margin-top: 2rem;
  padding-left: 1rem;
}

.content h1 {
  color: #6070ff;
  font-size: 17px;
}

#headline h1 {
  font-size: 24px;
  max-width: 10rem;
  color: #333231;
  z-index: 1;
  position: relative;
}

.container p {
  width: 95%;
}

.footer p {
  width: 80%;
  margin: auto 30px;
  color: whitesmoke;
  z-index: 1;
}

.content p {
  margin-top: 10px;
}

#headline p {
  width: 90%;
  position: relative;
  z-index: 1;
}

#headline h4 {
  margin-top: 8px;
  color: #6070ff;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.headline-icons {
  display: flex;
  margin-top: 15px;
  position: relative;
  z-index: 1;
}

.headline-icons li {
  list-style: none;
  margin-right: 10px;
}

/* Works */
#cards {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.card {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgb(226, 221, 221);
  height: 90%;
  width: 100%;
  color: #344563;
  margin-bottom: 10vh;
}

.container h2 {
  width: 50%;
}

.card-list-one {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 30vh;
  font-size: 13px;
}

.card-list-two li {
  list-style: none;
  color: #6070ff;
  background: #ebebff;
  text-align: center;
  border-radius: 5px;
  margin-right: 2px;
  padding: 5px 10px;
}

.nav-menu li {
  list-style: none;
  margin-top: 50px;
  margin-left: 15px;
  z-index: 1;
}

.content li {
  background: #f8f8fb;
  padding: 2px 4px;
}

.popup ul li {
  border-radius: 2px;
  padding: 5px 10px;
}

.card-list-one li:first-child {
  list-style: none;
  font-weight: bold;
  margin-left: 0;
}

.card-list-two {
  display: flex;
  gap: 30px;
  margin-top: 15px;
  width: 50vh;
}

.card-button {
  margin-top: 3rem;
  border: 1px solid #396df2;
  border-radius: 5px;
  color: #396df2;
  padding: 10px 12px;
  width: 8rem;
  text-align: center;
}

.card-button:hover {
  background: #396df2;
  color: #ebebff;
}

/* About-Yourself Section */
#about-section {
  margin-top: 2rem 0;
  height: 120vh;
  background: white;
  border-top-right-radius: 70px;
  width: 100%;
  padding: 30px;
}

#about-section h1 {
  font-size: 24px;
  max-width: 8rem;
  color: #333231;
}

#about-section h4 {
  margin-top: 8px;
  color: #6070ff;
  font-weight: 500;
}

.about-button {
  margin-top: 3rem;
  border: 1px solid #396df2;
  border-radius: 5px;
  color: #396df2;
  padding: 10px 12px;
  width: 10rem;
  text-align: center;
  background: transparent;
}

caption {
  margin-right: 36px;
}

.lang-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-weight: bold;
}

.lang-frameworks,
.lang-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: 40px;
  border-bottom: 1px solid rgb(225, 223, 223);
  font-weight: bold;
}

.lang-frameworks caption {
  align-self: center;
}

.lang-img {
  border-radius: 50%;
  margin: 10px;
}

.lang {
  background: #f0f0f1;
  display: flex;
  align-items: center;
  width: 95%;
  margin-top: 20px;
  padding: 12px auto;
  border-radius: 8px;
}

/* Footer section */
#footer {
  margin-top: 100px;
  text-align: center;
  background-color: #6070ff;
  position: relative;
  width: 100%;
  border-top-left-radius: 65px;
}

#footer::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url(/assets/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 65px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  border-top-left-radius: 75px;
  padding-top: 30px;
}

.footer h2 {
  z-index: 1;
  color: whitesmoke;
}

input {
  border-radius: 3px;
  height: 30px;
}

textarea {
  border-radius: 5px;
}

input,
textarea {
  width: 70%;
  margin-top: 15px;
  border: none;
  background: white;
  position: relative;
  z-index: 1;
}

.footer .form-btn {
  float: left;
  margin-bottom: 20px;
  margin-top: 1.5rem;
  margin-left: 56px;
  border: 1px solid #396df2;
  border-radius: 5px;
  color: #396df2;
  padding: 10px 12px;
  width: 8rem;
  text-align: center;
  background: white;
  z-index: 1;
  position: relative;
}

::placeholder {
  padding-left: 10px;
  font-family: inherit;
  color: #ababab;
}

#cards-desktop {
  display: none;
}

.lang-lang-desktop {
  display: none;
}

.nav__container button {
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
  color: #6070ff;
  border: none;
  background-color: white;
}

#close-menu-btn {
  display: none;
}

#mobile-nav {
  margin-bottom: -32px;
  color: #6070ff;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: white;
  position: relative;
}

.nav-menu {
  right: 3%;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: rgba(26, 84, 231, 0.8);
  display: none;
  overflow: auto;
}

.nav-menu li a {
  width: 100%;
  display: grid;
  z-index: 1;
  text-decoration: none;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

/* Popup */
.popup {
  height: 80vh;
}

.popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
  overflow: auto;
}

.logo-mobile {
  color: #6070ff;
  font-weight: bolder;
  text-decoration: none;
}

.content ul {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.popup .content {
  position: absolute;
  margin: 60% 0;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  width: 80%;
  height: 100%;
  z-index: 2;
  text-align: justify;
  padding: 20px;
}

.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #6070ff;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 100ms ease-in;
  transform: translate(-50%, -50%) scale(1);
}

#popup-first-list li:first-child {
  font-weight: bold;
  list-style: none;
  background: transparent;
}

#popup-first-list li:nth-child(2) {
  background: transparent;
}

#popup-first-list li:nth-child(3) {
  background: transparent;
}

.popup ul {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 15px;
}

.popup img {
  width: 100%;
  margin-top: 15px;
}

.popup-li {
  list-style: none;
  color: #6070ff;
  border-radius: 2px;
  padding: 5px 10px;
}

.popup button {
  margin-top: 50px;
  padding: 12px 20px;
  color: #6070ff;
  border-color: #6070ff;
  border-radius: 5px;
  background: transparent;
  width: 300px;
  font-size: 10px;
}

.popup-div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 250px;
}

small {
  color: red;
}

/* Desktop */
@media screen and (min-width: 600px) {
  #container {
    width: 100%;
  }

  #wrapper {
    width: 100%;
    height: 200vh;
    border-bottom-left-radius: 100px;
    position: relative;
    background-image: url(/assets/wrapper-background/Header\ bg.svg);
    background-repeat: no-repeat;
  }

  #wrapper::after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }

  /* .logo{
      animation: 5s infinite alternate anima;
    } */
  .nav {
    margin-left: 100px;
    height: 20vh;
  }

  #mobile-nav {
    display: none;
  }

  #headline {
    margin: 100px;
    height: 100vh;
    margin-left: 150px;
  }

  #headline h1 {
    font-size: 32px;
    max-width: 50rem;
    color: #333231;
  }

  .lang p {
    padding-left: 12px;
  }

  .footer p {
    text-align: center;
    color: whitesmoke;
    z-index: 1;
    width: 300px;
  }

  #headline p {
    width: 65%;
    margin-top: 12px;
  }

  #headline h4 {
    width: 65%;
    margin-top: 16px;
  }

  #header {
    display: none;
  }

  #header-desktop {
    display: flex;
    padding-top: 30px;
  }

  .popup ul {
    display: flex;
    justify-content: start;
    gap: 2rem;
  }

  #header-desktop ul {
    display: flex;
  }

  .card-list-one li {
    margin-right: 10px;
    color: #7e7d7c;
  }

  .card-list-one li:first-child {
    color: #252524;
  }

  .card-list-two {
    width: 50vh;
  }

  #header-desktop ul li {
    list-style: none;
    margin-right: 15px;
  }

  #header-desktop ul li a {
    color: #6070ff;
    text-decoration: none;
  }

  /* work section */
  #cards {
    display: none;
  }

  #cards-desktop {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 80px;
    padding-left: 50px;
  }

  .card {
    display: flex;
    gap: 10%;
    background: white;
    padding-left: 25px;
    width: 90%;
  }

  .card:hover {
    border: 1px solid #6070ff;
  }

  .card-list-one {
    width: 60%;
  }

  .container {
    margin-top: 60px;
  }

  /* About Myself */
  #about-section {
    height: 120vh;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10%;
    padding: 100px;
    width: 90%;
    padding-left: 200px;
  }

  .lang-lang {
    display: none;
  }

  .lang-lang-desktop {
    display: flex;
    gap: 10px;
    width: 50%;
  }

  .lang {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #footer {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    background-color: #6070ff;
    position: relative;
    width: 100%;
    border-top-left-radius: 100px;
    height: 100vh;
    padding: 0 600px;
  }

  #footer::after {
    position: absolute;
    content: ' ';
    width: 100vh;
    height: 100%;
    z-index: 0;
    background-image: url(./assets/wrapper-background/Header\ bg@2x.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 100px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .footer div {
    text-align: center;
  }

  .footer h2 {
    z-index: 1;
    color: whitesmoke;
    width: 150px;
    margin-bottom: 10px;
  }

  input {
    border-radius: 3px;
    height: 30px;
  }

  textarea {
    border-radius: 5px;
  }

  #footer .form-div ul li {
    list-style: none;
  }

  input,
  textarea {
    width: 60vh;
    margin-top: 15px;
    border: none;
    background: white;
    z-index: 1;
  }

  .form-btn {
    margin-bottom: 20px;
    margin-top: 1.5rem;
    border: 1px solid #396df2;
    border-radius: 5px;
    color: #396df2;
    padding: 10px 12px;
    width: 8rem;
    background: white;
    z-index: 1;
  }

  ::placeholder {
    padding-left: 10px;
    font-family: inherit;
    color: #ababab;
  }

  .popup .content {
    position: absolute;
    margin: 60% auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 450px;
    height: 120%;
    z-index: 2;
    text-align: justify;
    padding: 20px;
  }

  .popup-div {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    width: 300px;
  }
}

@keyframes anima {
  from {
    margin-left: 100%;
    width: 300%;
    color: #6070ff;
  }

  to {
    margin-left: 0%;
    width: 100%;
    font-weight: bold;
  }
}
